################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Marketable.sln
/.vs
/Marketable/bin
/Marketable/obj
/packages
